<script src="{{ "static/js/scroll.js" | prepend: site.baseurl }}"></script>

<!-- Google analytics -->
{% if site.ga %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.ga.id }}', 'auto');
    ga('send', 'pageview');

  </script>
{% endif %}

{% if site.disqus %}
  <script type="text/javascript">
    var disqusShortName = "{{ site.disqus.name }}";

    var disqusPublicKey = "{{ site.disqus.public_key }}";

    var urlArray = [];
    $('.disqus-comment-count').each(function () {
      var url = $(this).attr('data-disqus-url');
      urlArray.push('link:' + url);
    });
    $.ajax({
      type: 'GET',
      url: "https://disqus.com/api/3.0/threads/set.jsonp",
      data: { api_key: disqusPublicKey, forum : disqusShortName, thread : urlArray },
      cache: false,
      dataType: "jsonp",
      success: function (result) {
        for (var i in result.response) {
          var count = result.response[i].posts;
          if ( count ) {
            $('.disqus-comment-count[data-disqus-url="' + result.response[i].link + '"]').html(count);
          }
        }
      }
    });
</script>
{% endif %}

<script async src="{{ "static/js/count.min.js" | prepend: site.baseurl }}"></script>
